@model SamuraiDojo.ScoreBoard.Models.OverviewViewModel

@using SamuraiDojo.ScoreBoard.Metrics
@using System.Linq


<h3>@Model.Visitors Total Sessions</h3>

<h3 class="bold">Page Metrics</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Page</th>
            <th>Visits</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SamuraiDojo.ScoreBoard.Metrics.PageMetrics page in Model.PageLoads.OrderBy(load => load.Loads))
        {
            <tr>
                <td>@page.Page.Name</td>
                <td>@page.Loads</td>
            </tr>
        }
    </tbody>
</table>

<h3 class="bold">Session Metrics</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Session ID</th>
            <th>IP Address</th>
            <th>Browser</th>
            <th>Pages Visited</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SamuraiDojo.ScoreBoard.Metrics.Session session in Model.Sessions)
        {
            <tr>
                <td>@Html.ActionLink(session.SessionID, "SessionDetails", new { id = session.SessionID })</td>
                <td>@session.IP</td>
                <td>@session.Browser</td>
                <td>@session.PageLoads.Count</td>
            </tr>
        }
    </tbody>
</table>

