@model SamuraiDojo.ScoreBoard.Models.HistoryViewModel

@using SamuraiDojo.Models
@using SamuraiDojo.Utility



    <div class="col-sm-12">
        <div class="spacer-10"></div>
        @{
            foreach (BattleOutcome battle in Model.Battles)
            {

                <div class="jump-target" id="@battle.Battle.Deadline.ToSimpleDateString()">
                    <div class="row">
                        <h3 class="row-buffer">
                            <span class="bold italic">'@battle.Battle.Name'</span> 
                        </h3>
                        
                        <h4 class="row-buffer">
                            <span class="bold">Sensei: </span><span class="italic">@battle.Sensei.Name</span>
                        </h4>
                        <h4 class="row-buffer"><span class="italic">@battle.Battle.Deadline.ToLongDateString()</span></h4>
                        
                        <div>
                            <pre><code><iframe src="@($"/Battles/{battle.Battle.Name}.html")" scrolling="no" onload="resizeIframe(this)"></iframe></code></pre>
                        </div>

                        <div class="col-sm-6 @(battle.Results.Count > 0 ? "" : "hidden")">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Points</th>
                                        <th>Player</th>
                                        <th>Awards</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (BattleStatsForPlayer result in battle.Results)
                                    {
                                        <tr>
                                            <td>@result.Points</td>
                                            <td class="lowercase">@result.Player.Name</td>
                                            <td class="italic">@string.Join(", ", result.Awards.Select(award => award.Name)).DefaultIfEmpty()</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="@(battle.Results.Count > 0 ? "hidden" : "")">
                            <span class="w-35 inline-block"></span><h4 class="inline-block inline">Nobody has solved <span class="italic">'@battle.Battle.Name'</span> yet!</h4>
                        </div>
                    </div>
                    <hr class="divider-extend" />
                </div>

            }


        }
    </div>